.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
.txt
.xls
.gitignore
envdianthus.Rproj
.~lock.rotation.tsv#
environment.RData
env.RData
PCAphylo.RDS
.RDS
ouchtable.RDS
ouchtree.RDS
resultadosoverlapingcormethod.txt
resultadosoverlapinggbif.txt
maxent.jar
MoranIPCAenv.jpeg
